body.public-layout {
  background-color: #F3F3F4;
}

.holder {
  margin-top: 70px;
}

.tag {
  margin-right: 5px;
}

.forum-content {
  margin-top: 30px;
}

.main-navigation {
  margin-bottom: 0;
}

/* Sidebar */
.forum-sidebar {
  .sidebar-filter,
  .sidebar-channel {
    .sidebar-label {
      font-weight: 700;
      font-size: 15px;
      letter-spacing: -.5px;
      margin-bottom: 1em;
      color: #cacaca;
      text-transform: uppercase;
    }
  }
}

/* Page Heading */
.page-heading {
  .breadcrumb {
    li:last-child {
      font-weight: bold;
    }
  }
}