.button {
  font-weight: 700;
  text-transform: uppercase;
}

/* Margin */
.mb-1 {
  margin-bottom: 1em !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pagination-holder {
  text-align: center !important;
}