/****************** FORUM ******************/
.forum-content {
  margin-bottom: 60px;
}

/* Navigation */
.forum-navigation {
  border-top: 2px solid #00B1B3;
  background-color: #4D545D !important;

  .brand-holder {
    min-height: 70px;
    background: #4D545D;

    .navbar-brand {
      background-color: #4D545D;
      line-height: 35px;
      font-family: 'Molle', cursive;
      font-size: 30px;
    }
  }

  .navbar-top-links {
    li, li.open {
      padding-top: 10px;
      &.divider, &.profile-img-holder {
        padding-top: 0;
      }

      &.profile-img-holder {
        img {
          margin-right: 10px;
        }
      }

      a {
        color: #FFFFFF;
        &:hover {
          color: #FFFFFF;
          background-color: #4D545D;
        }
      }
    }
    .profile-dropdown-menu {
      li {
        a {
          color: #7D8793;
          background-color: #FFFFFF;

          &:hover {
            color: #00B1B3;
            background-color: #FFFFFF;
          }

          i.fa {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.top-navigation .nav > li a:hover,
.top-navigation .nav > li a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #FFFFFF;
  background-color: #4D545D;
}

/* User profile */
.user-profile {
  .user-avatar {
    padding: 0;
  }

  i.fa {
    padding-right: 10px;
  }

  .user-social-icon {
    a {
      i.fa {
        padding-right: 0;
      }
    }
  }

  .user-username {
    h4 {
      padding-top: 3px;
      margin-bottom: 5px;
    }
  }
}

/* Page Heading */
.page-heading {
  .breadcrumb {
    li:last-child {
      font-weight: bold;
    }
  }
}

/* Channel discussions */
.forum-discuss-container {
  .forum-item {
    .forum-channel-creator-avatar {
      text-align: center;
      padding: 2%;
    }

    .form-discuss-links {
      .forum-item-title {
        color: #4D545D;
      }

      .form-channel-name {
        color: #F9A97A;
        font-weight: bold;
      }

      .forum-channel-date {
        color: #CACACA;
        font-weight: bold;
      }

      .forum-channel-creator {
        color: #00B1B3;
        font-weight: bold;
      }
    }

    .forum-discuss-description {
      color: #818181;
    }

    .forum-info {
      text-align: center;
      padding: 2%;
    }
  }
}