/****************** FORUM ******************/
.forum-content {
  margin-bottom: 60px;
}

/* Navigation */
.forum-navigation {
  border-top: 2px solid #00B1B3;
  background-color: #4D545D !important;

  .brand-holder {
    min-height: 70px;
    background: #4D545D;

    .navbar-brand {
      background-color: #4D545D;
      line-height: 35px;
      font-family: 'Molle', cursive;
      font-size: 30px;
    }
  }

  .navbar-top-links {
    li, li.open {
      padding-top: 10px;
      &.divider, &.profile-img-holder {
        padding-top: 0;
      }

      &.profile-img-holder {
        img {
          margin-right: 10px;
        }
      }

      a {
        color: #FFFFFF;
        &:hover {
          color: #FFFFFF;
          background-color: #4D545D;
        }
      }
    }
    .profile-dropdown-menu {
      li {
        a {
          color: #7D8793;
          background-color: #FFFFFF;

          &:hover {
            color: #00B1B3;
            background-color: #FFFFFF;
          }

          i.fa {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.top-navigation .nav > li a:hover,
.top-navigation .nav > li a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #FFFFFF;
  background-color: #4D545D;
}

/* Sidebar */
.forum-sidebar {
  .ibox-content {
    padding-top: 10px;
    padding-bottom: 10px;

    .menu-list {
      padding-left: 0;
      margin-bottom: 0;

      li {
        list-style: none;
        border-bottom: 1px dotted #D7D7D7;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #F5F7FA;
          padding-left: 10px;
          -webkit-transition: padding-left .4s;
          transition: padding-left .4s;
        }

        a {
          display: block;
          padding: 10px 0;
          color: #69707A;
          font-weight: 400;
          letter-spacing: -.5px;

          &.is-active {
            color: #00B1B3;
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* User profile */
.user-profile {
  .user-avatar {
    padding: 0;
  }

  i.fa {
    padding-right: 10px;
  }

  .user-social-icon {
    a {
      i.fa {
        padding-right: 0;
      }
    }
  }

  .user-username {
    h4 {
      padding-top: 3px;
      margin-bottom: 5px;
    }
  }
}

/* Page Heading */
.page-heading {
  .breadcrumb {
    li:last-child {
      font-weight: bold;
    }
  }
}

/* Channel discussions */
.forum-discuss-container {
  .forum-item {
    .forum-channel-creator-avatar {
      text-align: center;
      padding: 2%;
    }

    .forum-discuss-links {
      .forum-item-title {
        color: #4D545D;
      }

      .forum-channel-name {
        color: #F9A97A;
        font-weight: bold;
      }

      .forum-channel-date {
        color: #CACACA;
        font-weight: bold;
      }

      .forum-channel-creator {
        color: #00B1B3;
        font-weight: bold;
      }
    }

    .forum-discuss-description {
      color: #818181;
    }

    .forum-info {
      text-align: center;
      padding: 2%;
    }
  }
}

.social-avatar {
  .media-body {
    .forum-item-title {
      color: #4D545D;
      pointer-events: none;
      font-size: 25px !important;
    }

    .forum-discuss-links {
      .forum-channel-date {
        color: #CACACA;
        font-weight: bold;
      }

      .forum-channel-creator {
        color: #00B1B3;
        font-weight: bold;
      }
    }
  }
}

.social-body {
  .forum-discuss-description {
    color: #818181;
  }
}

.forum-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.discussion-created-at {
  color: #CACACA;
  font-weight: bold;
}

.discussion-comment-creator {
  color: #00B1B3;
  font-weight: 700;
}

.views-number, .comment-num {
  color: #CACACA;
  font-weight: 700;
}

.new-discussions, .create-account {
  text-transform: uppercase;
  font-weight: 700;
}

.social-comment {
  margin-bottom: 30px;
}

.discussion__voting {
  font-size: 14px;
}

.discussion__voting-button {
  color: #636B6F;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.discussion__voting-button--voted {
  color: #3097D1;
}

/* Forum Search */
.search-forum {
  margin-left: 100px;
  margin-top: 12px;
  padding: 0;
  height: 46px;
  width: 500px;
  background: #F6F6F6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D7D7D7;
  border-radius: 4px;

  .input-group {
    height: 46px;
    padding-top: 10px;

    .search-icon-holder {
      border: 0 !important;

      i {
        padding: 5px 12px;
      }
    }

    #top-search-forum {
      border: 0 !important;
      bottom: 5px;
      width: 456px;
      padding: 0;
      letter-spacing: 1px;
      font-size: 100%;
      font-weight: 900;
      text-transform: uppercase;
      background-color: #F6F6F6;
    }
  }
}

.query-results {
  border: 1px solid #D7D7D7;
  border-top: none;
  margin-left: 37px;
  margin-top: -4px;
  width: 462px;
  background-color: #F6F6F6;
  height: initial;
  z-index: 100;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, .1);
  -webkit-transition: width .3s ease;
  transition: width .3s ease;

  .query-results-holder {

    .results-list {
      padding-left: 5px;
      padding-right: 5px;

      &:first-child {
        padding-top: 15px;
      }

      .suggestion-heading {
        list-style: none;
        background-color: #007F80;
        color: #FFFFFF;
        padding: 5px 10px;
        font-weight: 900;
      }

      .result-f {
        list-style: none;
        padding: 10px 10px;
        font-weight: 900;

        &:hover {
          background-color: #E6E6E6;
        }

        .search-highlight {
          color: #00B1B2;
        }

        a {
          color: #4D545D;
          display: block;
        }
      }
    }
  }
}